<div>
    {{#each carro.products}}
    <ul>        
        <li><strong>titulo:{{this.product.title}}</strong></li>
        <li><strong>descripcion:{{this.product.description}}</strong></li>
        <li><strong>precio:{{this.product.price}}</strong></li>
    </ul>
    {{/each}}
</div>