<div>
    {{#each list}}
    <ul>
        <li>titulo:{{this.title}}</li>
        <li>descripcion:{{this.description}}</li>
        <li>{{this.price}}</li>
        <li>{{this.code}}</li>
    </ul>
    {{/each}}
</div>